Repository imEvgeha/portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Nexus/portal-ui-maintainers, @mcharalambous, @pdemetriou, @mompasiis

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @mcharalambous @pdemetriou

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# webpack*.js    @mcharalambous @pdemetriou

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the Nexus/portal-ui-maintainers team in the organization owns all files.
* @Nexus/portal-ui-maintainers

# In this example, @Nexus/portal-ui-maintainers owns any files in the src folder
# directory at the root of the repository and any of its
# subdirectories.
 /webpack/ @mcharalambous @pdemetriou
 /packages/ @mcharalambous @pdemetriou @mompasiis
 /.vscode/ @mcharalambous

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository and any of its
# subdirectories.
# /docs/ @doctocat

# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
# /scripts/ @doctocat @octocat

# In this example, @octocat owns any file in the `/apps`
# directory in the root of your repository except for the `/apps/github`
# subdirectory, as its owners are left empty.
# /apps/ @octocat
# /apps/github

PORT-5510: Code refactored, design optimized
  packages/ui/src/elements/nexus-react-hook-form/ControllerWrapper.js
  src/pages/avails/title-matching/TitleMatchView.js
  src/pages/avails/title-matching/components/create-title-form/CreateTitleForm.js
  src/pages/avails/title-matching/components/create-title-form/CreateTitleFormConstants.js
  src/pages/title-metadata/components/titleCreateModal/Title.scss
Owners: @mcharalambous, @pdemetriou, @mompasiis, @Nexus/portal-ui-maintainers

test-squash: added comment 1 (#2590)
  packages/ui/src/elements/nexus-grid/hoc/withInfiniteScrolling.js
  src/pages/avails/selected-rights-table/SelectedRightsTable.js
Owners: @mcharalambous, @pdemetriou, @mompasiis, @Nexus/portal-ui-maintainers

VBQT-1374: Replacing atlas kit Avatar with primereact component
  packages/ui/src/elements/nexus-navigation/NexusNavigation.js
Owners: @mcharalambous, @pdemetriou, @mompasiis

VBQT-1374: Splitting UserAvatar logic into different component, including .scss file
  packages/ui/src/elements/nexus-navigation/NexusNavigation.js
  packages/ui/src/elements/nexus-navigation/nexus-user-avatar/NexusUserAvatar.js
  packages/ui/src/elements/nexus-navigation/nexus-user-avatar/NexusUserAvatar.scss
Owners: @mcharalambous, @pdemetriou, @mompasiis

PORT-5671: Columns refresh issue fixed (#2588)
  src/pages/avails/rights-matching-titles-table/RightsMatchingTitlesTable.js
  src/pages/avails/rights-matching-titles-table/__snapshots__/RightsMatchingTitlesTable.test.js.snap
  src/pages/avails/title-matching-rights-table/TitleMatchingRightsTable.js
  src/pages/avails/title-matching-rights-table/TitleMatchingRightsTable.test.js
  src/pages/avails/title-matching-rights-table/__snapshots__/TitleMatchingRightsTable.test.js.snap
Owners: @Nexus/portal-ui-maintainers

feature/VBQT-1639: Permissions Implementation
  packages/auth/authActionTypes.js
  packages/auth/authActions.js
  packages/auth/authReducer.js
  packages/auth/babel.config.js
  packages/auth/package.json
  packages/auth/permissions/CheckPermissions.js
  packages/auth/permissions/PermissionContext.js
  packages/auth/permissions/PermissionProvider.js
  packages/auth/permissions/Restricted.js
  src/AppProviders.js
  src/Router.js
  src/auth/AuthProvider.js
  src/routes.js
Owners: @mcharalambous, @pdemetriou, @mompasiis, @Nexus/portal-ui-maintainers

VBQT-1374: Dropdown template experiments
  packages/assets/logout.svg
  packages/assets/tenant.svg
  packages/ui/src/elements/nexus-navigation/NexusNavigation.js
  packages/ui/src/elements/nexus-navigation/nexus-user-avatar/NexusUserAvatar.js
  packages/ui/src/elements/nexus-navigation/nexus-user-avatar/NexusUserAvatar.scss
Owners: @mcharalambous, @pdemetriou, @mompasiis

PORT-5668: Toast msg updated (rightId displayed) (#2592)
  src/pages/avails/rights-repository/rightsSagas.js
Owners: @Nexus/portal-ui-maintainers

bugfix/PORT-5675: Changing deprecated method selectNothing() with setModel(null); (#2594)
  packages/ui/src/elements/nexus-grid/hoc/withFilterableColumns.js
Owners: @mcharalambous, @pdemetriou, @mompasiis

Feature/port 5510 (#2567)
  packages/ui/src/elements/nexus-field-label/FieldLabel.js
  packages/ui/src/elements/nexus-react-hook-form/ControllerWrapper.js
  src/pages/avails/bulk-matching/BulkMatching.js
  src/pages/avails/bulk-matching/BulkMatching.scss
  src/pages/avails/bulk-matching/BulkMatching.test.js
  src/pages/avails/bulk-matching/__snapshots__/BulkMatching.test.js.snap
  src/pages/avails/title-matching/TitleMatchView.js
  src/pages/avails/title-matching/components/create-title-form/CreateTitleForm.js
  src/pages/avails/title-matching/components/create-title-form/CreateTitleFormConstants.js
  src/pages/legacy/containers/metadata/MetadataConstants.js
  src/pages/legacy/containers/metadata/dashboard/Title.scss
  src/pages/title-metadata/TitleMetadataView.js
  src/pages/title-metadata/__snapshots__/TitleMetadataView.test.js.snap
  src/pages/title-metadata/components/title-metadata-bottom-header-part/__snapshots__/TitleMetadataBottomHeaderPart.test.js.snap
  src/pages/title-metadata/components/titleCreateModal/Title.scss
  src/pages/title-metadata/components/titleCreateModal/TitleCreateModal.js
  src/pages/title-metadata/components/titleCreateModal/TitleCreateModal.test.js
  src/pages/title-metadata/components/titleCreateModal/TitleCreateModalConstants.js
  src/pages/title-metadata/components/titleCreateModal/__snapshots__/TitleCreateModal.test.js.snap
  src/styles/prime-custom.scss
Owners: @mcharalambous, @pdemetriou, @mompasiis, @Nexus/portal-ui-maintainers
